# @bks:registry=https://gitlab.com/api/v4/projects/14/packages/npm/
# //gitlab.com/api/v4/projects/14/packages/npm/:_authToken=glpat-NZPwjiUQpGJ3edUU4IJtgm86MQp1OmoH.01.0w1ejvpf9



@bks:registry=https://gitv2.bekisoft.com/api/v4/projects/14/packages/npm/
//gitv2.bekisoft.com/api/v4/projects/14/packages/npm/:_authToken=glpat-NZPwjiUQpGJ3edUU4IJtgm86MQp1OmoH.01.0w1ejvpf9